body {
  font-family: sans-serif;
  margin: 0;
}

#header {
  background-color: #222;
  color: white;
  padding: 10px 20px;
}

a {
  color: inherit;
}

#content {
  width: 94%;
  max-width: 800px;
  margin: auto;
}
