body {
  font-family: sans-serif;
  background-color: #fbfbfb;
  color: #222;
  margin: 0;
}

section:not(#title) {
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1.5;
}

#rendering {
  width: 100vw;
  height: 80vh;
}

#rendering > canvas {
  width: 100%;
  height: 100%;
}
