@import url('fonts.css');

body {
  font-family: 'Apercu', sans-serif;
  background-color: white;
  color: #222;
  margin: 0;
  overflow-x: hidden;
}

section:not(#title) {
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1.5;
}

#title {
  width: 100%;
  padding-bottom: 66.69%;
  position: relative;
}

#title .bg, #title .text {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

#title .bg {
  background-image: url(images/arielle.jpg);
}

#title .text {
  background-image: url(images/overlay.svg);
  color: transparent;
}

h1, h2, h3, h4, h5 {
  
}

figure {
  margin-right: -2em;
  margin-left: -2em;
}

figure > img {
  width: 100%;
}

figure .multi {
  position: relative;
  width: 100%;
}

figure .multi > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure .multi > ul > li {
  position: relative;
  height: 100%;
  flex-basis: 0;
}

figure .multi > ul > li:not(:last-child) {
  margin-right: 4px;
}

figure .multi > ul > li > img {
  width: 100%;
}

figure .multi > ul > li > img:last-child {
  right: 0;
}

figure > * {
  margin-bottom: 4px;
}

figure .multi.second > * {
  margin-top: -2px;
}

figcaption {
  text-align: center;
  opacity: 0.5;
  margin: auto;
  margin-top: 1em;
  width: 70%;
}

a {
  color: inherit;
}

img.bordered {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

/*@media screen and (max-width: 600px) {
  figure.scrollable {
    overflow-x: auto;
    -webkit-overflow-scroll: touch;
  }
  figure.scrollable div {
    width: 900px;
  }
}
*/

@media screen and (min-width: 700px) {
  figure.float {
    margin-left: 0;
    width: 40%;
    float: right;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: small;
  }
  figure.float figcaption {
    width: 90%;
  }
}

#hook p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: x-large;
}

#hook p:first-child {
  font-size: large;
  opacity: 0.7;
}

.responsive-iframe-container {
  position: relative;
}

.responsive-iframe-container iframe {
  position: absolute;
  border: 0;
}

.fixed-aspect-1 {
  
}

.fixed-aspect-2 {
  position: relative;
}

.fixed-aspect-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.interface iframe {
  box-shadow: 0px 4px 15px rgba(25, 25, 25, 0.3);
}
