<!DOCTYPE html>
<html>
<head>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  
  <!-- setting DEBUG_FOODS bypasses the camera -->
  <script>
    if (location.search.indexOf('debug') > -1) {
      DEBUG_FOODS = ['waffle', 'meal', 'food', 'chicken', 'pasta', 'potatoes', 'soup', 'ice cream']
    }
  </script>
  <script src='/static/itemslide.min.js'></script>
  <script src='/static/screenfull.js'></script>
  <script src='/static/leds.js'></script>
  <script src='/static/ui.js'></script>
  
  <link rel='stylesheet' href='/static/fonts.css'/>
  <link rel='stylesheet' href='/static/ui.css'/>
  
</head>
<body>
  <div id='debug' style='display: none'>
    <pre id='status'></pre>
    <div id='img-container'></div>
  </div>
  <div id='main' class='gradient-bg'>

  </div>
  
  <script src='/static/ui.js'></script>
  
  <!-- this script calls gotFood() in ui, with a list of recommendations-->
  <script src='/static/recognition.js'></script>
  
</body>
</html>
