{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/submit.css'/>
{% endblock %}

{% block currentLocation %}
<span style='opacity: 0.5'>– Submit a Recipe</span>
{% endblock %}

{% block content %}

<form id='submit_recipe' method='POST'>
  <section id='intro'>
    <h1>Submit a Recipe</h1>
    <p>
      Have a killer recipe for spicing up bland food? Submit it, and we'll share it with people using the SpiceX kiosk.
    </p>
  </section>
  
  {% if error %}
  <section>
    <p class='error'>{{ error }}</p>
  </section>
  {% endif %}
  
  {% if message %}
  <section>
    <p class='message'>{{ message }}</p>
  </section>
  {% endif %}
  
  <section>
    <h2>Which foods is this recipe for?</h2>
    <p>Type as many as apply, separated by commas</p>
    <input name='foods' type='text' placeholder='chicken, vegetables' />
  </section>
  <section>
    <h2>How would you describe it?</h2>
    <div class='label-input'>
      <label>Recipe title:</label>
      <input name='title' placeholder='Chili Chicken' type='text'/>
    </div>
    <div class='label-input'>
      <label>Recipe description:</label>
      <textarea name='description'></textarea>
    </div>
  </section>
  
  <section id='ingredients'>
    <h2>Ingredients</h2>
    <ul>
      {% for ingredient in ingredients %}
        <li>
          <div>
            <input type='checkbox' name='{{ ingredient.id }}_ingredient' id='{{ ingredient.id }}_checkbox' />
            <label class='name' for='{{ ingredient.id }}_checkbox'>{{ ingredient.name }}</label>
          </div>
          <div class='amount'>
            <label>Amount:</label>
            <input name='{{ ingredient.id }}_ingredient_amount' min='1' max='100' value='1' type='number'/> 
            <label>shake(s)</label>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class='label-input'>
      <label>Any extra preparation instructions?: (optional)</label>
      <textarea name='extra_prep'></textarea>
    </div>
  </section>
  
  <section>
    <h2>Flavor</h2>
    {% for attrib in flavor_attribs %}
      <div class='label-input'>
        <label>{{ attrib.label }}</label>
        <div class='slider-container'>
          Least <input type="range" name="{{ attrib.name }}" min="1" max="5" value="3" /> Most
        </div>
      </div>
    {% endfor %}
  </section>
  
  <section>
    <input type='submit'/>
  </section>
</form>

<script>
  $('#ingredients input[type=checkbox]').change((e) => {
    $(e.target).closest('li').find('.amount').toggle();
  })
</script>

{% endblock %}
